@font-face {
    font-family: 'NovaMono';
    src: url('../fonts/NovaMono-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    transform-origin: center;
    animation: spin 1.1s linear infinite;
}


.nova-mono {
    font-family: 'NovaMono', monospace;
}